@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
* {
	font-family: 'Inter', serif;
}
body {
	background: rgb(14, 14, 14);
	color: #f1f1f1;
}
.wrapper {
	border: 1px solid #4b4a4a69;
	min-height: 100vh;
	padding: 3rem 15px;
	width: 90%;
	margin: 0 auto;
}
.header {
	color: #fff;
}
.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.header__row {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.active {
	position: relative;
	display: block;
}
.active::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: -13px;
	left: 0;
	background-color: #fff;
}
